* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
/* Header */
header {
  background-image: url("/resources/header.jpg");
  background-position: 0% 65%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 140vh;
  overflow: hidden;
}

/* Nav */
.nav {
  padding: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav ul li a {
  padding: 10px;
  border-radius: 50px;
  font-size: 18px;
  color: #141414;
  margin: 15px;
  transition: all 1000ms;
}
.nav ul li a:hover {
  font-size: 19px;
  color: #343434;
  text-shadow: #3f3f3f 0.1em 0.4em 0.1em;
  text-decoration: underline;
  transition: all 1200ms;
}
/* titulo */
.nombre {
  color: #d4d4d4;
  position: relative;
  display: flex;
  font-size: 25px;
  top: 14em;
  text-shadow: 2px 2px 2px #3b3939;
  justify-content: center;
  align-items: center;
}
.titulo {
  color: #d4d4d4;
  position: relative;
  display: flex;
  text-shadow: 2px 2px 2px #3b3939;
  top: 21em;
  justify-content: center;
  align-items: center;
}
/* icon i */
.icon {
  position: relative;
  display: flex;
  top: 23em;
  justify-content: center;
  align-items: center;
  color: #d4d4d4;
  text-shadow: 2px 2px 5px #3b3939;
}
.icon:hover {
  color: #eaeaea;
  text-shadow: 2px 2px 10px #5e5d5d;
}
/* Body */
body {
  background: #151515;
  font-family: "Bebas Neue", cursive;
}
/* About */
.contenedor-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedortitulo h1 {
  margin-top: 25px;
  text-shadow: #54544b 0.1em 0.3em 0.1em;
  color: #eaeaea;
  font-size: 45px;
}
.container-info {
  margin: auto;
  max-width: 1200px;
  margin-top: 25px;
  display: flex;
}

.container-info .img-info {
  margin: 10px;
  width: 40%;
  display: flex;
  justify-content: center;
  border: 10px 10px 10px #d4d4d4;
}
.container-info .img-info img {
  width: 350px;
  height: 500px;
  border-radius: 50px;
  box-shadow: -1px 17px 68px -10px rgba(56, 56, 56, 0.63);
  margin-right: -50px;
}
.container-info .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 500px;
  border-radius: 50px;
  background-color: rgba(135, 135, 135, 0.479);
}
/* Footer */
